<div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons">local_library</i></h2>
            <h5 class="center">Portafolio</h5>

            <p class="light" style="text-align: justify;">Ingresa a la opción portafolio del menu principal y encontraras imágenes de los trabajos realizados por mi.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons">mood</i></h2>
            <h5 class="center">Sobre mí</h5>

            <p class="light" style="text-align: justify;">Nací un 15 de agosto del 1994, soy de un pueblo pequeño para abarcar el gran mundo de la tecnología. Lee mas en la opción del menu principal: Sobre mí.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons">phone</i></h2>
            <h5 class="center">Contáctame</h5>

            <p class="light" style="text-align: justify;">Ingresa a la opción contactame del menu principal y llena el formulario, si quieres puedes escribirme al correo o el whatsapp, o sino a algunas de la redes sociales.</p>
          </div>
        </div>
</div>
