<h5>Contacts</h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= link_to contact, tittle: 'Ver' do %>
            <i class="material-icons">visibility</i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>