<h5>Sobre mí</h5>
<div class="row">
	<div class="col s12 l6" align="right">
		<%= image_tag("aboutme", class: 'picture') %>
	</div>
	<div class="col s12 l6">
		<p class="sobre">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam odio aperiam repellat cum, culpa quam quia est, dignissimos obcaecati ipsum at. Saepe atque laborum ea, animi iste illum, porro commodi.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti soluta veniam earum eligendi, sint perspiciatis saepe ipsum magnam accusantium tempore qui enim, dolores eos. Eaque dolores alias, rerum doloribus iusto?
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat maxime ipsum quam blanditiis odit facere nisi eveniet quas cum repellat quod, quis vel dolorum vero. Natus provident officia quam eveniet.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eum molestiae ipsam similique totam tenetur ullam impedit, ducimus placeat enim adipisci saepe itaque doloremque autem magnam expedita repellendus, est voluptas.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae animi nisi id dolor velit cum neque ratione provident incidunt laudantium, reprehenderit exercitationem ab libero, eius, quia perspiciatis officiis commodi obcaecati.
		</p>
	</div>
</div>