<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugiat blanditiis sed nostrum tempore nisi quia possimus obcaecati ipsam, quam odit neque odio, nulla repellat aliquid magni molestias. Adipisci, quasi! .</p>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><%= image_tag("linkedin.png", class: 'img')%> Nayzareth Hurtado Acosta</li>
            <li><%= image_tag("whatsapp.png", class: 'img')%> +58 414 8076973</li>
            <li><%= image_tag("gmail.png", class: 'img')%> hurtado.nayza@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        Nayzareth Hurtado - Ingeniera en informática.
      </div>
    </div>
</footer>
