<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col l8 m6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugiat blanditiis sed nostrum tempore nisi quia possimus obcaecati ipsam, quam odit neque odio, nulla repellat aliquid magni molestias. Adipisci, quasi! .</p>
        </div>

        <div class="col l4 m6 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"           title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
            <li><a class="white-text" href="https://www.linkedin.com/in/nayzareth-hurtado-acosta/"><%= image_tag("in.png", class: 'img')%> Nayzareth Hurtado Acosta</a></li>
            <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"           title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
            <li><%= image_tag("w.png", class: 'img')%> +58 414 8076973</li>
            <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"           title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
            <li><%= image_tag("g.png", class: 'img')%> hurtado.nayza@gmail.com</li>
            <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"           title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
            <li><a class="white-text"><%= image_tag("ig.png", class: 'img')%> hurtado.nayza</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        Nayzareth Hurtado - Ingeniera en informática.
      </div>
    </div>
</footer>
