<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="text-white">“Aprende del ayer, vive para hoy, ten esperanza para el mañana. Lo importante es no dejar de hacerse preguntas.” <br>-Albert Einstein</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("c5.jpg")%></div>
</div>